{{ define "main" }}
<div id="stats" class="pb-5">
	<div class="row">
		<div class="col-xl-9 col-lg-8 mb-3">
			<h1>About Mailpit</h1>

			{{ .Content }}

			<p class="text-center mt-md-5">
				<a href="/docs/" class="btn btn-primary btn-lg mx-1 d-block d-sm-inline my-3">Read the documentation</a>
				<a href="/docs/install/" class="btn btn-secondary btn-lg mx-1 d-block d-sm-inline my-3">Download</a>
				<a href="https://github.com/sponsors/axllent" class="btn btn-warning btn-lg mx-1 d-block d-sm-inline my-3">
					Sponsor
				</a>
			</p>
		</div>
		<div class="col-xl-3 col-lg-4">
			<h2 class="mt-2 h3">Mailpit statistics</h2>

			<p>
				<img
					src="https://img.shields.io/docker/pulls/axllent/mailpit.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Docker%20pulls&amp;logo=docker"
					alt="Docker pulls">
			</p>

			<p>
				<img
					src="https://img.shields.io/docker/image-size/axllent/mailpit/latest?arch=amd64&amp;style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Docker%20size&amp;logo=docker"
					alt="Docker image size">
			</p>

			<p>
				<img
					src="https://img.shields.io/github/stars/axllent/mailpit.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Github%20stars&amp;logo=github"
					alt="Github stars">
			</p>

			<p>
				<img
					src="https://img.shields.io/github/v/release/axllent/mailpit.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Latest%20release&amp;logo=github"
					alt="Latest release">
			</p>

			<p>
				<img
					src="https://img.shields.io/github/release-date/axllent/mailpit.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Release%20date&amp;logo=github"
					alt="Last release">
			</p>

			<p>
				<img
					src="https://img.shields.io/github/issues/axllent/mailpit.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Open%20issues&amp;logo=github"
					alt="Open issues">
			</p>

			<p>
				<img
					src="https://img.shields.io/github/downloads/axllent/mailpit/total.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Github%20downloads&amp;logo=github"
					alt="Github downloads">
			</p>

			<p>
				<img
					src="https://img.shields.io/github/created-at/axllent/mailpit.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Created&amp;logo=github"
					alt="Created">
			</p>

			<p>
				<img
					src="https://img.shields.io/github/sponsors/axllent.svg?style=for-the-badge&amp;color=%2301956e&amp;logoColor=%23fff&amp;labelColor=%23343a40&amp;label=Sponsors&amp;logo=githubsponsors"
					alt="Sponsors">
			</p>

		</div>
	</div>
</div>
{{ end }}
