<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
	{{ partial "head.html" . }}
</head>

<body class="d-flex flex-column h-100">
	<div id="App">
		<nav class="navbar navbar-expand navbar-dark bg-secondary fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand me-0 me-md-2" href="/">
					<img src="/images/mailpit.svg" width="40" alt="Mailpit" class="me-2" />
					<span class="d-none d-md-inline">
						{{ site.Title }}
					</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto">
						{{ $url := .RelPermalink | relLangURL }}
						{{ range .Site.Menus.main }}
						<li class="nav-item">
							{{ if eq (hasPrefix .URL "mailto:") true }}
							<a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
							{{ else }}
							{{ $menuUrl := .URL | relLangURL }}
							{{ if eq $menuUrl "/" }}
							<a class="nav-link {{ if eq $url $menuUrl }}active{{end}}" href="{{ $menuUrl }}">{{ .Name }}</a>
							{{ else }}
							<a class="nav-link {{ if hasPrefix $url $menuUrl }}active{{end}}" href="{{ $menuUrl }}">{{ .Name }}</a>
							{{ end }}
							{{ end }}
						</li>
						{{ end }}
					</ul>
					<div class="d-flex">
						<button v-cloak class="btn btn-dark pe-0 pe-md-5" aria-label="Open search" @click="openSearch()">
							<i class="bi bi-search me-3"></i>
							<span class="d-none d-md-inline">Search docs...</span>
						</button>

						<div class="d-none d-lg-inline">
							<a href="https://github.com/axllent/mailpit" class="btn text-light" target="_blank">
								<i class="bi bi-github"></i>
								GitHub
							</a>
							<a href="https://hub.docker.com/r/axllent/mailpit" class="btn text-light" target="_blank">
								<img src="/images/docker.svg" style="width: 19px;margin-bottom: 3px;" alt="Docker logo">
								Docker
							</a>
							<button v-cloak class="btn text-light" aria-label="Switch to the dark theme" v-if="theme == 'light'"
								title="Switch to the dark theme" @click="theme='dark'">
								<i class="bi bi-moon-stars-fill"></i>
							</button>
							<button v-cloak class="btn" aria-label="Switch to the light theme" v-if="theme == 'dark'"
								title="Switch to the light theme" @click="theme = 'light'">
								<i class="bi bi-brightness-high-fill"></i>
							</button>
						</div>

						<div class="dropdown d-lg-none">
							<button class="btn btn-secondary dropdown-toggle ms-1" type="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<i class="bi bi-list"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<a href="https://github.com/axllent/mailpit" class="dropdown-item" target="_blank">
										<i class="bi bi-github me-2"></i>
										GitHub
									</a>
								</li>
								<li>
									<a href="https://hub.docker.com/r/axllent/mailpit" class="dropdown-item" target="_blank">
										<img src="/images/docker.svg" style="width: 19px;margin-bottom: 3px;" class="me-2"
											alt="Docker logo">
										Docker
									</a>
								</li>
								<li v-cloak>
									<button class="dropdown-item" aria-label="Switch to the dark theme" v-if="theme == 'light'"
										@click="theme='dark'">
										<i class="bi bi-moon-stars-fill me-2"></i>
										Dark theme
									</button>
									<button class="dropdown-item" aria-label="Switch to the light theme" v-if="theme == 'dark'"
										@click="theme = 'light'">
										<i class="bi bi-brightness-high-fill me-2"></i>
										Light theme
									</button>
								</li>
							</ul>
						</div>
					</div>

				</div>
		</nav>

		<div class="flex-shrink-0">
			<main class="container-fluid">
				{{ block "main" . }}{{ end }}
			</main>
		</div>

		<div class="modal modal-lg" id="searchModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header" :class="!search ? 'border-0': ''">
						<input type="text" class="form-control" :placeholder="loaded ? '' : 'loading...'" :disabled="!loaded"
							aria-label="Search" id="Search" v-model.trim="search" @keyup.up="selectPrev()" @keyup.down="selectNext()"
							@keyup.enter="gotoSelected()">
						<button type="button" class="btn-close d-sm-none" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" v-if="search">
						<div class="list-group" v-if="searchResults.length">
							<a class="list-group-item list-group-item-action" v-for="(r, i) in searchResults" :href="r.item.link">
								<h5 class="my-1">[[ r.item.title ]]</h5>
								<p class="mb-1 small">[[ r.item.description ]]</p>
							</a>
						</div>
						<div v-else-if="!searchResults.length && search">
							No results....
						</div>
					</div>
					<div v-else-if="loaded" class="form-text ps-4 pb-3">
						Type to start searching
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
