// .tip {
//   padding: 1.5rem 1rem 1.5rem 1.5rem;
//   margin: 1.5rem 0;
//   border-left: 0.2rem solid $primary;
//   position: relative;
//   // background: var(--accent);
//   background-color: $secondary;
//   color: #fff;
// }

@include color-mode(dark) {
  .tip {
    background: $gray-800;
  }
}

.tip {
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  margin: 1.5rem 0;
  border-left: 0.2rem solid var(--bs-success);
  background: $gray-200;
  position: relative;

  blockquote {
    padding: 0;
    margin: 0;
    border: none;
    &::before {
      display: none;
    }
  }

  p {
    &:first-child,
    ~ p {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &::before {
    @extend .bi::before;
    content: "\F430";
    position: absolute;
    font-size: 1.5rem;
    left: -0.85rem;
    top: 1.5rem;
    z-index: 3;
    padding: 0;
    border-radius: 50%;
    color: var(--bs-success);
    background: var(--bs-body-bg);
  }

  &-warning {
    border-left: 0.2rem solid var(--bs-warning);

    &::before {
      content: "\F332";
      color: var(--bs-warning);
    }
  }
}
