{{ define "main" }}
<div class="row mt-lg-5">
	<div class="col-lg-6">
		<h1><b>Mailpit</b> - email & SMTP testing tool with API for developers</h1>
		<p class="lead">
			Mailpit is a small, fast, low memory, zero-dependency, multi-platform email testing tool & API for developers.
		</p>
		<p>
			It acts as an SMTP server, provides a modern web interface to view & test captured emails, and contains an API for
			automated integration testing.
		</p>
		<p class="text-center mb-md-5 mt-md-5">
			<a href="/docs/" class="btn btn-primary btn-lg mx-1">Read the documentation</a>
			<a href="/docs/install/" class="btn btn-secondary btn-lg mx-1">Installation</a>
		</p>
	</div>

	<div class="col-lg-6 text-center">
		<picture>
			<source srcset="/images/Mailpit-dark.png" media="(prefers-color-scheme:dark)">
			<img src="/images/Mailpit-light.png" alt="Mailpit">
		</picture>
	</div>
</div>

<div class="row my-5">
	<div class="col">
		<picture>
			<source srcset="/images/screenshots/dark-1.png" media="(prefers-color-scheme:dark)">
			<img src="/images/screenshots/light-1.png" alt="Mailpit">
		</picture>
	</div>
	<div class="col">
		<picture>
			<source srcset="/images/screenshots/dark-2.png" media="(prefers-color-scheme:dark)">
			<img src="/images/screenshots/light-2.png" alt="Mailpit">
		</picture>
	</div>
	<div class="col">
		<picture>
			<source srcset="/images/screenshots/dark-3.png" media="(prefers-color-scheme:dark)">
			<img src="/images/screenshots/light-3.png" alt="Mailpit">
		</picture>
	</div>
</div>

<div class="row my-3">
	{{ range .Site.Params.features }}
	<div class="col-md-6 col-lg-4 my-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">
					<a href="{{ .link }}" class="stretched-link">
						{{ .title }}
					</a>
				</h5>
				{{ .description }}
			</div>
		</div>
	</div>
	{{ end }}
</div>

<p class="text-center mb-5">
	<a href="/docs/" class="btn btn-primary btn-lg mx-1">Read the documentation</a>
	<a href="/docs/install/" class="btn btn-secondary btn-lg mx-1">Installation</a>
</p>

{{ end }}
